#nsslpremiumlinkpremium {
	color: #d54e21;
	font-weight: bold;
}
#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

#fb-share-button a {
    box-shadow: none;
    text-decoration: none;
}

#fb-share-button a:hover {
    box-shadow: none;
}